.button {
  margin: 10px 0;
  color: white;
  background: transparent;
  color: #1172c4;
  font-size: 12px;
  border-color: #1172c4;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.2s linear;
  &:hover {
    color: white;
    background: #00aeef;
    border-color: white;
  }
}
